body{
    margin: 0px;
    padding: 0px;
    background-color: #F3F5FC;
}

.container{
    margin: auto;
    width: 960px;
    height: 650px;
    padding: 5px;
    background-color: rgba(161, 242, 99, 0.427);
    
}
.logo{
    width: 100%;
    float: left;
}
.left{
    float: left;
    width: 70%;
    height: 70%;
    border-radius: 24px;
}
.right{
    float: right;
    width: 30%;
    border-radius: 24px;
}
.left-button{
    float: left;
    width: 70%;
    height: auto;
    border-radius: 24px;
}
.logoImg{
    margin-top: 1%;
    margin-left: 5%;
    float: inherit;
}
.tittle{
    float: inherit;
    margin-left: 15%;
}
.text-input{
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 80%;
    color: #0a3871;
    font-size: 20px;
    border-radius: 24px;
    border: none;
    outline: none;
    background: #F3F5FC;
}
#ImgDer{
    margin-left: 2%;
    margin-top: 20%;
    width: 90%;
    height: auto;
}
#texto{
    margin-left: 7%;
    margin-right: 5%;
}
#texto2{
    float: left;
    margin-left: 10%;
    color: #0a3871;
    width: 80%;
    height: 60%;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}
#btn-encriptar{
    padding: 20px;
    width: 25%;
    height: 60%;
    border-radius: 24px;
    margin-left: 15%;
    background: #0a3871;
    font-size: 18px;
}
#btn-desencriptar{
    padding: 20px;
    width: 25%;
    height: 60%;
    border-radius: 24px;
    margin-left: 10%;
    background: #D8DFE8;
    font-size: 18px;
}
#copiar{
    margin-top: auto;
    margin-left: 15%;
    padding: 15px;
    width: 40%;
    height: 10%;
    background: #D8DFE8;
    border-radius: 20px;
    display: none;
   
}
#signo{
    width: 16px;
    height: 16px;
    margin-top: 2.5%;
    margin-left: 5%;
    float: inherit;
}
